---
theme:
  name: micha
---
{% include JB/setup %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
            {% if page.title %}
            {{ page.title }} @
            {% endif %}
            {{ site.title }}
        </title>

        {% if page.description %}
            <meta name="description" content="{{ page.description }}">
        {% else %}
            {% if page.title %}
                <meta name="description" content="{{ page.title }}{% if page.tagline %}: {{ page.tagline }}{% endif %}">
            {% endif %}
        {% endif %}
        <meta name="author" content="{{ site.author.name }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if page.title %}<meta property="og:title" content="{{ page.title }}" />{% endif %}
        <meta property="og:url" content="{{ page.url }}" />
        <meta property="og:image" content="{{ site.url }}/assets/images/me.png" />
        <meta property="og:site_name" content="micha.codes" />

        <meta property="og:type" content="article" />
        <meta property="og:article:author" content="{{ site.author.name }}" />
        <meta property="og:article:published_time" content="{{ page.date | date: '%Y-%m-%d' }}" />
        {% if page.tags %}
            {% for tag in page.tags %}
            <meta property="og:article:tag" content="{{ tag }}" />
            {% endfor %}
        {% endif %}

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="alternate" type="application/atom+xml" title="micha.codes: posts" href="/atom.xml">

        <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700" rel="stylesheet" type="text/css">
        <link href='//fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="//use.typekit.com/phg8fgl.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script src="{{ site.url }}/assets/js/jquery.min.js"></script>

        <link href="{{ site.url }}/assets/css/normalize.css" rel="stylesheet" type="text/css" media="all">
        <link href="{{ site.url }}/assets/css/syntax.css" rel="stylesheet" type="text/css" media="all">
        <link href="{{ site.url }}/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
    </head>

    <body>
        <a href="https://github.com/mynameisfiber"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

        <div class="container">
            <header>
                <div class="header-left">
                    <img src="{{ site.url }}/assets/images/me.png" alt="micha">
                </div>
                <div class="header-right">
                    <h1><a href="/" class="site-title">Micha Gorelick</a></h1>
                    <p class="header-tagline">
                    programmer, builder &amp; astronaut
                    </p>
                </div>
                <div class="social">
                    <a href="http://twitter.com/mynameisfiber">twitter</a><br>
                    <a href="http://github.com/mynameisfiber/">github</a>
                </div>
            </header>

            {{ content }}

        <footer>
            <p>
                Layout inspired by <a href="https://web.archive.org/web/20140209073513/http://dan.iel.fm/">Daniel Foreman-Mackey's</a> amazing page
            </p>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a> 
                This work by <a xmlns:cc="http://creativecommons.org/ns#" href="http://micha.codes/" property="cc:attributionName" rel="cc:attributionURL">Micha Gorelick</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>
            </p>
        </footer>
    </div> <!-- /container -->
    {% include JB/analytics %}
</body>
</html>
